/*font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/*shared css*/
.btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
background: #FF900E;
border:0px;
padding:21px 25px;
cursor:pointer;
   
}

/*header styles*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
nav>ul{
    display:flex;
}
nav li{
    list-style: none;
    margin-right:30px;
  
}

nav li a{
    text-decoration: none;
    color: #424242;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;

    
}
.title{
    color: #131313;
text-align: center;
font-size: 2.8rem;
font-style: normal;
font-weight: 700;

}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin:0 auto;


}
.banner-tittle{
    color: #131313;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;

}
.banner-des{
    color:  #727272;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;

}
.banner img{
    margin-top:50px;
    width:100%;
}
/*heading sesh */
/*main-feature shuru*/
main{
    max-width:1440px;
    margin:0 auto;
    padding:45px;

}
.feature{
    display:flex;
    align-items: center;
}
.image-section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.text-section{
    padding-left:70px;
    padding-right: 70px;
}
.quick{
    color:  #727272;
font-size: 45px;
font-style: normal;
font-weight: 500;

}
.of{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fe{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-des{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.some{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.te{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

/*facts*/
.co{
    display:flex;
    justify-content: space-around;
    padding:100px 100px;
    
}
.card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding:0px 30px;

}
.card-start{
    color: var(--dark-02, #424242);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;;

}
.card-title{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.card img{
    margin-top:45px;
    margin-bottom: 10px;
  
}
.spon{
    text-align: center;
}
.hee{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.paa{
    color: var(--dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.spo-image{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
}
.spo-image img{
    width: 165.833px;
}

/*feature 2*/
.fe-he{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-left:5px solid #FF900E;
    padding-left:20px;
}
.fe-te{
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.card-he{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  
}
.card-pa{
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.feature-2{
    
    display: flex;
    margin-top: 130px;
    gap:166px;
}
.feature-2 .fe-card{
    margin-bottom: 20px;;
    padding:30px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten{
    border-radius: 8px;
background: #FF900E;
width: 342px;
padding:40px;
text-align: center;
position:relative;
bottom:100px;
}
.ten h3{
    font-size: 4rem;
    margin:0px;

}
.ten p{
    font-size:1.5rem;
}
.fe-image img{
    height:90%;
    margin-left: 50px;;
}









/*responsive style*/
/*mobile devices*/
@media screen and (max-width:576px){
    header{
        padding:20px;
    }
    nav,
    .feature,.co,.spo-image,.feature-2{
        flex-direction: column;
    }
    .image-section{
        grid-template-columns: 1fr;
    }
    .text-section, .co{
        padding-left:20px;
        padding-right: 20px;
    }
    .co{
        gap:20px;
    }
}
/*tablet or medium devices*/
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding:50px;
    }
    nav,
    .feature,.spo-image{
        flex-direction: column;
    }
    .image-section{
        grid-template-columns: 1fr;
    }
}
